* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../newspaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}

.ui.menu .item>i.icon.b {
	font-size: 1.5em;
}

.ui.menu .item>i.icon {
	margin-right: 0;
}

.container.main {
	margin-top: 7.0em;
}

.item {
	font-size: 1.30em;
}

.ui.form .field>label {
	font-size: 1.3em;
}